@page "/"

<h1>Hello, world!</h1>

<div>
    @foreach (var human in _game.Tribe.Humans)
    {
        <div>@human.Name</div>
    }
</div>

<div>
    @foreach (var resource in _game.Tribe.Resources)
    {
        <div>@resource.Name: @resource.Amount / @resource.Max</div>
    }
</div>

<button @onclick="@PassTurn">Pass turn</button>

@code
{
    protected override void OnInitialized()
    {
        _game = new Game();
        _game.Init();
    }

    private Game _game;

    private void PassTurn(EventArgs _)
    {
        _game.Tick();
    }
}
